<table class="table">
    <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>

          </tr>
          <tr *ngFor= "let profile of profiles" >
            <td scope="col">{{profile.id}}</td>
            <td scope="col">{{profile.name}}</td>
            <td scope="col">{{profile.surname}}</td>
            <td scope="col">{{profile.email}}</td>
            <td scope="col">{{profile.profileTypeName}}</td>

          </tr>
        </thead>
    </table>